<html>
  <head>
    <title>Quora Clone</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/css/application.css">
  </head>
  <body>
    <h1>Quora Clone</h1>
    <form method="get" action="/">
        <input type=submit value="Home">
    </form>

    <a href='/users/<%= current_user.id %>'> Your Profile </a>

    <% if logged_in? %>
      <p>Good day <%= current_user.name %>!</p>
        <form method="post" action="/question">
          <input type=text placeholder="Your question" name="user[question]">
          <br>
          <input type=submit value="Submit Question">
        </form>

    <% else %>
      <form method="get" action="/form/login">
          <input type=submit value="Log In">
      </form>

      <form method="get" action="/form/signup">
          <input type=submit value="Sign Up Now!">
      </form>
    <% end %>



    <%= yield %>

    <form method="post" action="/logout">
      <input type=submit value="Log Out">
    </form>
</html>
