<html>
  <head>
    <title>Quora Clone</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/css/application.css">
  </head>
  <body>

    <form method="get" action="/">
        <input type=submit value="Home">
    </form>
    <% if logged_in? %>
      <p>Welcome back, Dear <%= current_user.name %></p>
        <form method="post" action="/question">
          <input type=text placeholder="Your question" name="user[question]">
          <br>
          <input type=submit value="question">
        </form>

    <% else %>
      <form method="get" action="/form/login">
          <input type=submit value="Log In">
      </form>

      <form method="get" action="/form/signup">
          <input type=submit value="Sign Up Now!">
      </form>
    <% end %>

    <% if any_question? %>
      <p>Your current question:  <%= current_question.question %></p>
      <% elsif !logged_in? %>
      <p>Please logged in to view your profile!</p>
      <% else %>
      <p>You don't have any question yet!</p>

    <% end %>

    <%= yield %>

    <% if logged_in? %>
      <form method="post" action="/logout">
        <input type=submit value="Log Out">
      </form>
      <% else %>
      <p>Click the login/signup button</p>
    <% end %>
</html>
