<h1>Quora Clone</h1>
<!-- form as below -->

<h2>Top Questions</h2>



<hr/>

<h2>Top Answers</h2>

<!-- Deleted form -->
<!-- <a href="form/signup">Signup Now!</a> -->
<!-- <a href="form/login">User Login!</a> -->
