<h1>Quora Clone</h1>
<!-- form as below -->

<form method="get" action="/form/login">
    <input type=submit value="Log In">
</form>

<p>If you yet to have an account?</p>


<form method="get" action="/form/signup">
    <input type=submit value="Sign Up Now!">
</form>




<!-- Deleted form -->
<!-- <a href="form/signup">Signup Now!</a> -->
<!-- <a href="form/login">User Login!</a> -->
