
<!-- form as below -->

<h2>All Questions</h2>

<% @all_question.each_with_index do |question, index| %>
<a href="/questions/<%= question.id %> "><%= "#{index+1}.#{question.question} [ -#{question.name}]"%> <br></a><br>
<% end %>




<h2>Top Questions</h2>



<hr/>

<h2>Top Answers</h2>

<!-- Deleted form -->
<!-- <a href="form/signup">Signup Now!</a> -->
<!-- <a href="form/login">User Login!</a> -->
