div h1 {
  color:red;
  font-size: 50px;
}


body{
  text-align: center;
}

.vote{
  display: inline-block !important;
  padding: 3px;
  font-size: 0.8em;

}

.answer-placeholder, .update-placeholder{
  border: 1px solid grey;
  padding: 5px;
  font-size: 1.0em;
  width: 40%;
}


.answer-button, .update-button{
  border: 1px solid grey;
  padding: 5px;
  font-size: 1.0em;
  width: 20%;
  background-color: grey;
}

.button-on-top{
  display: flex !important;
}
